html{
	height:100%;
	margin:0;
	min-height:100%;
	padding:0;
	width:100%;
	background-image: url("gambar/bg2.jpg");
	}

body {
	height:100%;
	margin:0 auto;
	min-height:100%;
	padding:0;
	width:980px;

}

	p.lengkap {font: italic small-caps 900 20px arial; color: white ; text-align: center}

	p.borderous {border-style: solid; border-width: 10px 10px medium; border-color: white white rgb(300,255) ; 
					color: white ; text-align: center; }

	p.margin {margin: 2cm 4cm 4cm 80px medium; color: white ; text-align: center }

	td {padding: 1.5cm}

	ul {list-style: square inside url("gambar/4.gif"); position: absolute;left: 0px;}

	img.x1 {position: absolute; left: 0; top: 100; z-index: -2; }

		a:link {color: white}

		a.one:visited {color: white }
		a.one:hover {color: #ffcc00}
					
		a.two:visited {color: white}
		a.two:hover {font-size: 150%}
				
		a.three:visited {color: white}
		a.three:hover {background: #66ff66}
				
		a.four:visited {color: white}
		a.four:hover {color: red}

			h1.judul {text-align: center; color : white;}
	
	table.kolom { 
		border-style: solid;
		border-width: 10px 10px 10px 10px; table-layout: medium;
		border-color: white;
		text-align: center;
	}

	td.text {
		text-align: center;
		color: white;
	}

	
	#gambar {  

	height: 300px;
	width: 300px;  
 	position: relative; 
 	top: 50px;
 	left: 0px;
 	 -webkit-transition-duration: 0.8s;  
 	  -moz-transition-duration: 0.8s;  
  	 -o-transition-duration: 0.8s;  
  		 transition-duration: 0.8s;  
  	 -webkit-transition-property: -webkit-transform;  
  	 -moz-transition-property: -moz-transform;  
  	 -o-transition-property: -o-transform;  
  	 transition-property: transform;  
  	 overflow:hidden; 
  	 border-radius: 2%;
	
-webkit-transition: all 0.7s ease;
-moz-transition: all 0.7s ease;
-o-transition: all 0.7s ease;
-ms-transition: all 0.7s ease;
transition: all 0.7s ease; 
 	}  
	 #gambar:hover {  
	 cursor: pointer;
  	-webkit-transform:rotate(360deg);  
   -moz-transform:rotate(360deg);  
   -o-transform:rotate(360deg);  
   position:relative;
left: 750px;
top: -250px;
border-bottom-right-radius:70px 20px;
 	}  

 	